:root {
    --dark: #1F2937;
}

* {
    /*outline: 2px solid red; */
    box-sizing: border-box;
    margin: 0;
}


body {
    margin: 0 auto;
        padding: 0;
        border: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* HEADER CONTAINER */

header {
    width: 100%;
    height: 60px;
    background-color: var(--dark);
    border: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.logo-container{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 30px;   
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.link-container { 
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 100px;

}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-link:hover{
    cursor:pointer;
}

/*HERO SECTION */

main {
    width: 100%;
    height: 60px;
    background-color: var(--dark);
    border: none;
}

.hero-container {
    display: flex;
    background-color: var(--dark);
    padding-bottom: 50px;
}

.hero-texts {
    display: flex;
    flex-direction: column;
    padding: 60px;
    text-align: left;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin: 0;
    
}

.hero-paragraph {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-bottom: 10px;

}

.hero-button {
    width: 26%;
    padding: 5px;
    border-radius: 6px;
    background-color: #3882F6;
    text-align: center;
    text-decoration: none;
    color: #f9faf8;
    font-weight: 700;

}

.hero-button:hover{
    background-color: #203D6B;
    cursor: pointer;
}

.hero-pic {
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-top: 40px;
    
}

.hero-img {
    height: 280px;
    width: 600px;
}

/* RANDOM ITEMS */

.random-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    margin-top: 40px;
    margin-bottom: 40px;
}

.random-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 60px;
}

.random-box {
    content: "";
    height: 110px;
    width: 110px;
    border: 2px solid #3882F6;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.random-text {
    font-size: 16px;
    max-width: 110px;
    text-align: center;
    color: #1F2937;
}

/*QUOTE SECTION */

.quote-container {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotation {
    max-width: 50%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 320;
}

.quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    color: var(--dark);
}

/* CLIPBOARD SECTION */

.clipboard {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.clipboard-container {
    display: flex;
    height: 70px;
    width: 720px;
    background-color: #3882F6;
    align-items: center;
    color: #f9faf8;
    border-radius: 4px;
    gap: 60px;
    
}

.clipboard-texts {
    width: 70%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    flex-shrink: -1;
}

.clipboard-paragraph {
    color: #E5E7EB;
}

.clipboard-button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border-width: 40px;
    border: 1px solid #E5E7EB;
    text-decoration: none;
    text-align: center;
    color: #E5E7EB;
    margin-right: 60px;
}

.clipboard-button:hover {
    background-color: #4c6a9b;
    cursor: pointer;
}

/* FOOTER SECTION */

.footer-container{
    height: 80px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-paragraph {
    color: #F9FAF8;
}